html, body
  margin: 0
  padding: 0

// @font-face 
//   font-family: 'FontDIN Next W1G'
//   src: url('~@/assets/fonts/dinnextw1g_black.otf') format('font-opentype')
//   font-weight: normal
//   font-style: normal

@font-face 
  font-family: "FontDIN Next W1G"
  src: url('./assets/fonts/dinnextw1g.otf')

